{% extends "base.html" %}
{% load static %}

{% block form_content %}
<h1> &nbsp{{ employee.name }}</h1>
<div class="row">
    <div class="col-md-3">
        <img style="max-width:300px;height:auto;" src="{{ employee.upload_image.url }}" alt="" >
    </div>
    <div class="col-md-4">
        <h4>Designation</h4>
        <p>{{ employee.designation }}</p>
        <h4>About</h4>
        <p>{{ employee.bio }}</p>
        <h4>Skills</h4>
        <p>{{ employee.skills }}</p>
    </div>
</div>
{% endblock form_content %}